* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: serif;
}

.container {
  max-width: 40rem;
  width: 100%;
  padding: 10rem 1.5rem;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), to(#00d4ff)) center no-repeat;
  background: linear-gradient(0deg, #020024 0%, #00d4ff 100%) center no-repeat;
}

.todo {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(39, 51, 60, 0.2);
          box-shadow: 0px 0px 10px 10px rgba(39, 51, 60, 0.2);
  border-radius: 10px;
  padding: 0.5rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #acd0e6;
  margin-bottom: 2rem;
}

h1 i {
  margin-left: 10px;
}

.wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 75%;
  height: 2rem;
  border: none;
  background-color: #10c7d4;
}

.input:focus {
  background: #10c7d4;
  outline: none;
  color: #378c97;
}

.input:focus::-webkit-input-placeholder {
  color: #378c97;
}

.input:focus:-ms-input-placeholder {
  color: #378c97;
}

.input:focus::-ms-input-placeholder {
  color: #378c97;
}

.input:focus::placeholder {
  color: #378c97;
}

.input::-webkit-input-placeholder {
  color: #378c97;
}

.input:-ms-input-placeholder {
  color: #378c97;
}

.input::-ms-input-placeholder {
  color: #378c97;
}

.input::placeholder {
  color: #378c97;
}

.submitButton {
  height: 2rem;
  width: 25%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1a6486;
  color: #fff;
}

.ul-List {
  list-style: none;
  font-size: 1.6rem;
}

.item-cross-out {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  padding-right: 1rem;
}

.item-delete {
  float: right;
  margin-right: 1rem;
}

.related-to-hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 1rem 0;
  border-top: 1px solid #377c91;
}

.related-to-hover:first-child {
  border: 0;
}

.related-to-hover:hover {
  background-color: #0c88a1;
}

.related-to-hover:hover .item-cross-out {
  opacity: 1;
}

.related-to-hover > span > i {
  color: #fff;
}

.checked {
  text-decoration: line-through;
}

.clear-all {
  display: block;
  border: 0;
  color: #fff;
  background-color: #1a6486;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 2rem;
}

.clear-all:hover {
  background-color: #165471;
}

.todo-text {
  color: #acd0e6;
}

.input-edit {
  margin-left: 1rem;
  color: #378c97;
  height: 2rem;
  border: none;
  background-color: #10c7d4;
}

.input-edit:focus {
  background: #10c7d4;
  outline: none;
  color: #378c97;
}

.input-edit:focus::-webkit-input-placeholder {
  color: #378c97;
}

.input-edit:focus:-ms-input-placeholder {
  color: #378c97;
}

.input-edit:focus::-ms-input-placeholder {
  color: #378c97;
}

.input-edit:focus::placeholder {
  color: #378c97;
}

.input-edit::-webkit-input-placeholder {
  color: #378c97;
}

.input-edit:-ms-input-placeholder {
  color: #378c97;
}

.input-edit::-ms-input-placeholder {
  color: #378c97;
}

.input-edit::placeholder {
  color: #378c97;
}
/*# sourceMappingURL=style.css.map */